@model DeviceHistoryWebApp.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType.Name)
        </dd>

    </dl>
    <table class="table-bordered">
        <thead>
            Support History
        </thead>
        <tr>
            <th>Date</th><th>End User</th><th>TSA</th><th>Summary</th>
        </tr>
        @foreach(HistoryEntry entry in Model.History)
        {
            <tr>
                <td>@entry.Submitted.ToShortDateString()</td>
                <td>@Html.ActionLink(entry.EndUser.Name, "Details", "Users", new { id = entry.EndUserId }, null)</td>
                <td>@Html.ActionLink(entry.Creator.Name, "Details", "Users", new { id = entry.CreatorId }, null)</td>
                <td>@entry.Summary</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
