<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>DIRECTORY PROJECT</h1>
        <h2>SEARCH:<input type="search"></input></h2>

    <h2>
                <ul>
                    @Html.ActionLink("Home", "Index", "Home", htmlAttributes: new { @class = "class1" }) |
                    @Html.ActionLink("About", "About", "Home", htmlAttributes: new { @class = "class1" }) |
                    @Html.ActionLink("Contact", "Contact", "Home", htmlAttributes: new { @class = "class1" }) |
                    @Html.ActionLink("Devices", "Index", "Devices", htmlAttributes: new { @class = "class1" }) |
                    @Html.ActionLink("Device Types", "Index", "DeviceTypes", htmlAttributes: new { @class = "class1" }) |
                    @Html.ActionLink("Users", "Index", "Users", htmlAttributes: new { @class = "class1" })
                </ul>
            </h2>
        </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Winsor School Support History Database</p>
        </footer>
    </div>
 <p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 </p>
</body>
</html>
