@{
    ViewBag.Title = "Home Page";
}

<h2 class="class2">Device History | Recent Tickets</h2>
@using (DeviceHistoryEntities db = new DeviceHistoryEntities())
{
    foreach(HistoryEntry entry in db.HistoryEntries.OrderByDescending(evt => evt.LastUpdated).Take(5).ToList())
    {
            <p class="class3">@entry.Device.Uid</p>
            <p class="class4">@entry.LastUpdated.ToLongDateString() @entry.LastUpdated.ToShortTimeString()</p>
            <p class="class5">@entry.Summary</p>
            <div class="btn">@Html.ActionLink("View Ticket", "Details", "HistoryEntries", new { id = entry.Id }, null)</div>
    }
}

<div>
    <h1>Create a new Ticket</h1>
    @Html.ActionLink("New Ticket", "Create", "HistoryEntries", null, new { @class = "btn" })
</div>
